@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Search bar */
.header .search-form{
    position: absolute;
    top:110%; 
    right:-110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.header .search-form.active{
    right: 2rem;
    transition: 0.4s linear;
}
.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: green;
}

/* heading */
.heading {
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
    margin-top: 100px;
  }
  
  .heading h1 {
    color: #222;
    font-size: 4rem;
  }
  
  .heading p {
    padding-top: 1rem;
    font-size: 2rem;
    color: #666;
  }
  
  .heading p a {
    color: #222;
    padding-right: .5rem;
  }
  
  .heading p a:hover {
    color: green;
  }
/* heading */

/* Filter  */
.filter-btns{
  top: 84px;
  position: fixed;
  z-index: 50000;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 100vw;
}
.filter-btn{
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 30px;
  font-size: 13px;
  color: #a8a8a8;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.filter-btn::after{
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #555;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.filter-btn:hover{
  color: #555;
}
.filter-btn:hover::after{
  width: 100%;
}
/* Filter end */

/* Title of products section */
.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
  }
  
  .title span {
    color: green;
    padding-left: .7rem;
  }
  
  .title a {
    margin-left: auto;
    color: #666;
    font-size: 1.5rem;
  }
  
  .title a:hover {
    color: green;
  }
/* End of title of products section */

/* Products */

.products .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .products .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
  }
  
  .products .box-container .box:hover .icons {
    top: 0;
  }
  
  .products .box-container .box .icons {
    position: absolute;
    top: -105%;
    left: 0;
    height: 30rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 1rem;
  }
  
  .products .box-container .box .icons button {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: #666;
  }
  
  .products .box-container .box .icons button:hover {
    background: green;
    color: #fff;
  }
  
  .products .box-container .box .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
  }
  
  .products .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .products .box-container .box .content {
    padding: 1.5rem;
  }
  
  .products .box-container .box .content h3 {
    font-size: 2rem;
    color: #222;
  }
  
  .products .box-container .box .content .price {
    font-size: 2rem;
    color: #222;
    padding: 1rem 0;
  }
  
  .products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: green;
  }
/* Products ends here */


/* Footer starts here*/
.footer {
    background: #f3f3f3;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #222;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding-bottom: .5rem;
  }
  
  .footer .box-container .box a {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    display: block;
  }
  
  .footer .box-container .box a:hover {
    color: green;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .box-container .box a i {
    padding-right: .5rem;
    color: green;
  }
  
  .footer .box-container .box form input[type="email"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #222;
    margin: 1rem 0;
    text-transform: none;
  }
  
  .footer .box-container .box .payment {
    width: 100%;
    margin-top: 2rem;
  }
  /* Footer ends here */

/* Media Query for responsive*/

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    .home #next-slide,
  .home #prev-slide {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 88%;
  }
  .home #prev-slide {
    left: auto;
    right: 8rem;
  }
  .filter-btns{
    margin-top: -10px;
  }
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .search-form{
        width: 90%;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        border-radius: 0.5rem;
        background: #fff;
    }
    .header .navbar.active{
        right: 2rem;
        transition: 0.3s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .home .slides-container .slide .content h3 {
        font-size: 5rem;
      }
}
