*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
header{
    text-align: center;
    width: 100vw;
    height: 8vh;
    background-color: rgb(19, 140, 41);
    color: #fff;
    padding-top: 10px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 84vh;
}
#map{
    width: 80vw;
    height: 80vh;
    margin: 10px;
    background: #555;
}
footer{
    display: inline-block;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: rgb(19, 140, 41);
}